@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face {
  font-family: "ModerneLLWeb-Book";
  src: url("assets/fonts/ModerneLLWeb-Book.woff") format("woff");
}

:root {
  font-family: "ModerneLLWeb-Book", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 800;

  background-color: white; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  /* overflow: hidden; */

}

#root {
  height: var(--wIH, 100vh);
}